<!DOCTYPE html >
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Car Picker</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

</head>
<body ng-controller="main">

<div class="container">
    <h3>Car Picker</h3>

    <!--directives approach-->


    <picker>
        <picker>
            <picker></picker>
        </picker>
    </picker>




    <!--inline approach-->

    <select ng-model="makeFilter"
            ng-options="item.name as item.name for item in makes"
            ng-change="updateModels()"></select>

    <select ng-model="modelFilter"
            ng-options="item for item in models"
            ng-disabled="models.length==0"
            ng-change="updateYears()"></select>

    <select ng-model="yearFilter"
            ng-options="item for item in years"
            ng-disabled="years.length>0"></select>

</div>

<script src="node_modules/angular/angular.min.js"></script>
<script src="app/app.js"></script>


</body>
</html>