<!DOCTYPE html >
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Car Picker</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

</head>
<body ng-controller="main">

<div class="container">
    <h2>Angular Picker</h2>

    <!--inline approach-->

    <div class="well">
        <h3>Static Inline Approach</h3>



        <div class="panel panel-default">
            <div class="panel-body">

                <label>Make</label>
                <select ng-model="carMake"
                        ng-options="item.name as item.name for item in makes"
                        ng-change="updateModels()"></select>

                <label>Model</label>
                <select ng-model="carModel"
                        ng-options="item.name as item.name for item in models"
                        ng-disabled="models.length===0"
                        ng-change="updateYears()"></select>

                <label>Year</label>
                <select ng-model="carYear"
                        ng-options="item.name as item.name for item in years"
                        ng-disabled="years.length===0"></select>






            </div>
        </div>


        <i>And the filter is:</i>  {{carMake+"-"+carModel+"-"+carYear}}


    </div>

    <!--directives approach-->

    <div class="well">
        <h3>Reusable Directives Approach</h3>


        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Non-Nested</div>
            </div>
            <div class="panel-body">
                <picker label="Make" options="makes" model="carMake" onpick="updateModels()"></picker>
                <picker label="Model" options="models" model="carModel" onpick="updateYears()"></picker>
                <picker label="Year" options="years" model="carYear" onpick="performSearch()"></picker>
            </div>
        </div>




        <div class="panel panel-default">
            <div class="panel-heading">
            <div class="panel-title">Nested</div>
            </div>
            <div class="panel-body">
                <picker label="Make" options="makes" model="carMake" onpick="updateModels()">
                    <picker label="Model" options="models" model="carModel" onpick="updateYears()">
                        <picker label="Year" options="years" model="carYear" onpick="performCarSearch()"></picker>
                    </picker>
                </picker>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Nested with Progressive Disclosure</div>
            </div>
            <div class="panel-body">
                <picker label="Make" options="makes" model="carMake" onpick="updateModels()" progressive="true">
                    <picker label="Model" options="models" model="carModel" onpick="updateYears()" progressive="true">
                        <picker label="Year" options="years" model="carYear" onpick="performCarSearch()"></picker>
                    </picker>
                </picker>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Button-Group Style</div>
            </div>
            <div class="panel-body">
                <picker label="Make" options="makes" model="carMake" onpick="updateModels()" progressive="true" type="button-group">
                    <picker label="Model" options="models" model="carModel" onpick="updateYears()" progressive="true" type="button-group">
                        <picker label="Year" options="years" model="carYear" onpick="performCarSearch()" type="button-group"></picker>
                    </picker>
                </picker>
            </div>
        </div>



    </div>


</div>

<script src="node_modules/angular/angular.min.js"></script>
<script src="app/app.js"></script>


</body>
</html>