<!--don't want to use ng-show to manage which picker type is shown,
but...ng-if prevents model and options from binding correctly; needs research-->

<label>{{label}}</label>

<div ng-show="type==='button-group'"
     class="btn-group"
     role="group" aria-label="...">
    <button type="button" class="btn btn-default"
            ng-class="{active:model===option.name}"
            ng-repeat="option in options"
            ng-click="select( option.name )">{{option.name}}
    </button>
</div>

<hr ng-show="type==='button-group'">


<select ng-show="!type||type==='select'"
        ng-model="model"
        ng-disabled="options.length===0"
        ng-change="onpick()">
    <option ng-repeat="option in options"
            value="{{option.value||option.name}}">{{option.name}}
    </option>
</select>

<span ng-if="progressive && model.length>0 || progressive===false || !progressive" ng-transclude></span>